.login-wrapper {
    height: 100%;
}

.logo-wrapper {
    padding: 40px;
    padding-top: 70px;
}

.logo-wrapper img {
    width: 100%;
    max-width: 300px;
}

.loginFormInner {
    background-color: white;
    overflow: auto;
    border-radius: 10px;
    padding: 0 20px;
    text-align: center;
    margin: auto;
}

.login-message {
    text-align: center!important;
    font-size: 26px;
    color: #1c3f77;
    font-weight: lighter;
}

.loginFormInner button {
    background: #5f8dbf;
    color: white;
    font-size: 18px;
}