<div class="login-wrapper">
    <form [formGroup]="LoginForm" class="container">
                
        <div class="text-center mx-auto mb-3 logo-wrapper">
            <img class="img-fluid" alt="Polilag" src="https://scontent.fntr8-1.fna.fbcdn.net/v/t1.0-9/75627514_2608440215879458_4389509391724838912_n.jpg?_nc_cat=105&_nc_sid=85a577&_nc_ohc=Mc3q9qPx6r8AX_Gvuss&_nc_ht=scontent.fntr8-1.fna&oh=6309106a9ac132cbf8fd71f6983f08bc&oe=5E8D88DE" [width]="80">
        </div>
    
        <div class="loginFormInner col-12 col-lg-8">
            <div class="mt-4 my-4 col-12">
                <input type="email" class="form-control" placeholder="mail@ejemplo.com" formControlName="identifier">
            </div>
        
            <div class="my-4 col-12">
                <input type="password" class="form-control" placeholder="Contraseña" formControlName="password" name="password" required>
            </div>
        
            <div class="my-2 col-12">
                <button type="button" (click)="login()" class="btn btn-block btn mx-auto my-2">Entrar</button>
            </div>

            <div *ngIf="ErrorLogin">
                <div class="text-danger">Credenciales erroneas. Intente de nuevo</div>
            </div>
        </div>
        
    </form>
</div>
