<div class="container mt-3 mb-5">

    <table mat-table [dataSource]="consultas" multiTemplateDataRows>

        <ng-container matColumnDef="Fecha">
            <th mat-header-cell *matHeaderCellDef> Fecha </th>
            <td mat-cell *matCellDef="let element"> {{ getFecha(element.created_at) }} </td>
        </ng-container>

        <ng-container matColumnDef="Modulo">
            <th mat-header-cell *matHeaderCellDef> Modulo </th>
            <td mat-cell *matCellDef="let element"> {{ nombreModulo(element.modulo) }} </td>
        </ng-container>

        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                <div class="example-element-detail"
                    [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                    <div *ngIf="nombreModulo(element.modulo) == 'Signos Vitales'" class="col-12">
                        <div class="row">
                            <div class="col-5 text-right">Peso</div>
                            <div class="col-7">{{ element.Peso }}</div>
                        </div>
                        <div class="row">
                            <div class="col-5 text-right">Talla</div>
                            <div class="col-7">{{ element.Talla }}</div>
                        </div>
                        <div class="row">
                            <div class="col-5 text-right">Frec. Cardiaca</div>
                            <div class="col-7">{{ element.FrecuenciaCardiaca }}</div>
                        </div>
                        <div class="row">
                            <div class="col-5 text-right">Frec. Respiratoria</div>
                            <div class="col-7">{{ element.FrecuenciaRespiratoria }}</div>
                        </div>
                    </div>

                    <!-- SIGNOS VITALES / METABÓLICO -->
                    <div *ngIf="nombreModulo(element.modulo) == 'Signos Vitales' || nombreModulo(element.modulo) == 'Metabolico'" class="col-12">
                        <div class="row">
                            <div class="col-5 text-right">Presión arterial</div>
                            <div class="col-7">{{ element.PresionArterial }}</div>
                        </div>
                    </div>

                    <!-- UROLOGIA -->
                    <div *ngIf="nombreModulo(element.modulo) == 'Urologia'" class="col-12">
                        <div class="row">
                            <div class="col-5 text-right">PSA</div>
                            <div class="col-7">{{ element.PSA }} ng/ml</div>
                        </div>
                    </div>

                    <!-- DETECCIONES / METABÓLICO -->
                    <div *ngIf="nombreModulo(element.modulo) == 'Detecciones' || nombreModulo(element.modulo) == 'Metabolico'" class="col-12">
                        <div class="row">
                            <div class="col-5 text-right">Glucosa</div>
                            <div class="col-7">{{ element.Glucosa }}</div>
                        </div>
                        <div class="row">
                            <div class="col-5 text-right">ABO</div>
                            <div class="col-7">{{ element.ABO }}</div>
                        </div>
                    </div>
                    <div class="col-12 pb-2">
                        <div class="row">
                            <div class="col-5 text-right">Observaciones</div>
                            <div class="col-7">{{ element.Observaciones }}</div>
                        </div>
                    </div>
                </div>
            </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let element; columns: displayedColumns;" 
            class="example-element-row"
            [class.example-expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>
</div>