<div class="container mt-3 mb-5">

    <form [formGroup]="consultaForm">
        <div class="col-12">
            <mat-form-field appearance="standard" class="d-inline">
                <mat-label>Módulo</mat-label>
                <input matInput placeholder="Módulo" disabled [value]="modulo">
            </mat-form-field>
        </div>

        <div class="col-12">
            <div class="row">
                <div class="col-3">
                    <mat-form-field appearance="standard" class="d-inline">
                        <mat-label>Folio</mat-label>
                        <input matInput formControlName="PacienteID" placeholder="123">
                    </mat-form-field>
                </div>
            
                <div class="col-9">
                    <mat-form-field appearance="standard" class="d-inline">
                        <mat-label>Nombre</mat-label>
                        <input matInput formControlName="Nombre" placeholder="Nombre">
                    </mat-form-field>
                </div>
            </div>
        </div>
        
        <!-- SIGNOS VITALES -->
        <div class="col-12" *ngIf="modulo == 'Signos Vitales'">
            <div class="row">
                <div class="col-6">
                    <mat-form-field appearance="standard" class="d-inline">
                        <mat-label>Peso</mat-label>
                        <input matInput formControlName="Peso" placeholder="80 kg">
                    </mat-form-field>
                </div>
        
                <div class="col-6">
                    <mat-form-field appearance="standard" class="d-inline">
                        <mat-label>Talla</mat-label>
                        <input matInput formControlName="Talla" placeholder="3">
                    </mat-form-field>
                </div>
            </div>
        </div>

        <!-- SIGNOS VITALES -->
        <div class="col-12" *ngIf="modulo == 'Signos Vitales'">
            <div class="row">
                <div class="col-6">
                    <mat-form-field appearance="standard" class="d-inline">
                        <mat-label>Freq. Cardiaca</mat-label>
                        <input matInput formControlName="FreqCardiaca" placeholder="90">
                    </mat-form-field>
                </div>
        
                <div class="col-6">
                    <mat-form-field appearance="standard" class="d-inline">
                        <mat-label>Freq. Respiratoria</mat-label>
                        <input matInput formControlName="FreqRespiratoria" placeholder="80">
                    </mat-form-field>
                </div>
            </div>
        </div>

        <!-- DETECCIONES / METABÓLICO -->
        <div class="col-12" *ngIf="modulo == 'Detecciones' || modulo == 'Metabolico'">
            <div class="row">
                <div class="col-6">
                    <mat-form-field appearance="standard" class="d-inline">
                        <mat-label>Glucosa</mat-label>
                        <input matInput formControlName="Glucosa" placeholder="100">
                    </mat-form-field>
                </div>
        
                <div class="col-6">
                    <mat-form-field appearance="standard" class="d-inline">
                        <mat-label>ABO</mat-label>
                        <input matInput formControlName="ABO" placeholder="AB">
                    </mat-form-field>
                </div>
            </div>
        </div>

        <!-- SIGNOS VITALES / METABOLICO -->
        <div class="col-12" *ngIf="modulo == 'Signos Vitales' || modulo == 'Metabolico'">
            <div class="row">
                <div class="col-6">
                    <mat-form-field appearance="standard" class="d-inline">
                        <mat-label>Presión arterial</mat-label>
                        <input matInput formControlName="PresionArterial" placeholder="80">
                    </mat-form-field>
                </div>
            </div>
        </div>

        <!-- UROLOGIA -->
        <div class="col-12" *ngIf="modulo == 'Urologia'">
            <div class="row">
                <div class="col-6">
                    <mat-form-field appearance="standard" class="d-inline">
                        <mat-label>PSA</mat-label>
                        <input matInput formControlName="PSA" placeholder="15">
                        <span matSuffix>ng/ml</span>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="col-12">
            <mat-form-field appearance="standard" class="h-100 d-inline">
                <mat-label>Observaciones</mat-label>
                <textarea rows="5" matInput formControlName="Observaciones"></textarea>
            </mat-form-field>
        </div>
        
    </form>

    <nav class="navbar fixed-bottom bg-success">
        <a [routerLink]="" (click)="GuardarConsulta()">Guardar</a>
    </nav>
</div>